textarea {
  width: 100%; 
  height: 90%;
  font-family: Consolas;
}

.bottom-bar {
  position: fixed;
  width: 100%;
  height: 10%;
  background: black;
  color: white;
}

.node-gui {
  float:left;
}

body {
 padding: 0;
 margin: 0;
}